main {
    section {
        margin-bottom: 90px;
    }
}

.titleBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productImgContainer {
    width: 30%;
    text-align: center;
    img {
        width: calc(100% - 48px);
        margin: 24px;
        border-radius: 5%;
    }
}

.play {
    background-image: url(../assets/background-image.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    .playContainer {
        max-width: 650px;
        background-color: $solidWhite;
        border: 24px solid $secondary;
        padding: 70px 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.categoryGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    .items {
        width: 40%;
        padding: 45px;
        margin: 50px 25px 25px;
        border-radius: 10%;
        transition: 0.2s ease;
        img {
            width: 100%;
            border-radius: 10%;
            margin-bottom: 20px;
        }
        &:hover,
        &:focus {
            transform: scale(0.95);
        }
    }
    .orange {
        background-color: $quinary;
    }
    .blue {
        background-color: $secondary;
    }
    .green {
        background-color: $tertiary;
    }
    .pink {
        background-color: $quarternary
    }
}

.gallery {
    background-color: $tertiary;
    padding: 90px 0;
    margin: 0;
    .galleryItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
            width: 15%;
            img {
                width: 100%;
                display: block;
            }
        }
    }
}

// Shop page styles
.shop {
    section {
        padding: 90px 0;
        margin: 0;
    }
}

.inventory {
    h2 {
        text-align: center;
    }
    .product {
        justify-content: flex-start;
        a {
            display: block;
            &:hover,
            &:focus {
                transform: rotateZ(2deg) translate(5px);
            }
        }
    }
}
.guarantees {
    background-color: $quarternary;
    position: relative;
    text-align: center;
    &::before {
        content: '';
        background-image: url(../assets/wave-3.svg);
        background-position: top center;
        background-color: $quarternary;
        background-repeat: repeat-x;
        position: absolute;
        background-size: 100% 60px;
        top: -60px;
        height: 3rem;
        left: 0;
        right: 0;
    }
}

h5 {
    margin-bottom: 60px;
}

.shopOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.guaranteeContainer {
    width: calc(25% - 30px);
    margin: 0 15px;
}